@import './styles/base.scss';

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: #f4f4f4;
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 10vmin;
  width: 10vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: #fb2324;
  // transition-property: background, transform;
  // transition-timing-function: linear, ease-in-out;
  // transition-duration: 2s;
  // transition-delay: 0.5s;

  transition: all 2s 0.5s ease-in-out;

  &:hover {
    background: blue;
    transform: scale(2);
  }
}
